<div *ngIf="book" class="card" style="width: 18rem;">
    <img src={{book.volumeInfo.imageLinks.smallThumbnail}} class="card-img-top" alt="...">
    <div *ngIf="book.volumeInfo" class="card-body">
        <h5 class="card-title">{{book.volumeInfo.title}}</h5>
        <h6 *ngIf="book.volumeInfo.authors">{{book.volumeInfo.authors.join(", ")}},
            {{book.volumeInfo.publishedDate.substring(0, 4)}}</h6>
        <p class="card-text">{{book.volumeInfo.description.substring(0, 200)}}.....</p>
        <a href={{book.saleInfo.buyLink}} class="btn btn-primary">Go somewhere</a>
    </div>
</div>